* {
    margin: 0px;
    padding: 0px;

    font-family: Arial, Helvetica, sans-serif;
}

/* General */
body {
    background-color: #eef;
}

h1 {
    font-family:'betania patmos', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    font-size: 40px;
}

header {
    background-color: #bbd;

    border-bottom: #668;
    border-width: 2px;
    border-style: none none solid none;
}

section {
    margin: 50px;
}

footer {
    padding: 20px;
    background-color: #445;
    border-top: 2px solid #585878;

    color: #eee;
}

footer a {
    color: #eee;
}

/* Links */
a, button {
    color: #000;
    text-decoration: none;
    font-weight: 700;
}

a:hover, button:hover {
    color: #66b;
}

/* General Classes */
.flex_row {
    display: flex;
    flex-direction: row;
}

/* Title */
#title_container {
    padding-top: 10px;
    justify-content: center;
}

#title_trademark {
    padding: 5px 10px;
}

/* Nav Bar */
#nav_link_container {
    padding: 10px 20px;
}

#nav_link_container a {
    margin: 0px 10px;
    font-size: 20px;
}

/* Products Section */
#products_section {
    margin: 50px;
}

#products_container {
    min-width: max-content;
}

.product_card {
    width: fit-content;
    margin: 10px;

    border: 3px solid #668;
    border-radius: 6px;

    background-color: #fff;

    transition: 0.2s;

    font-weight: normal;
}

.product_card:hover {
    transform: scale(1.03);
}

.product_card p {
    max-width: 280px;

    word-wrap: normal;
    font-size: 14px;
}

.product_card_description {
    padding: 10px;
    padding-top: 0px;
}

/* Services */
.service_card {
    width: fit-content;
    margin: 10px;
    padding: 10px;

    border: 3px solid #668;
    border-radius: 6px;

    background-color: #fff;

    transition: 0.2s;
}

.service_card:hover {
    transform: scale(1.03);
}

/* Footer */
#footer_link_container {
    margin: 50px;
    text-align: center;
}

#footer_link_container * {
    flex-grow: 1;
}

/* About Us */
#about_us_paragraph {
    margin: 10px;
    max-width: 700px;
}

#storage_image_container {
    justify-content: end;
    flex-grow: 1;
}

#storage_image {
    width: 500px;
    right: 0px;
}

#storage_image_description {
    text-align: center;
}

.brand {
    font-family:'betania patmos', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
}